nav {
    ul {
        list-style: none;
    }

    li {
        &:before {
            content: '';
            background-color: #ff0000;
            background: url("Img/icons.svg");
            background-position-x: 30px;
            background-position-y: 30px;
            display: inline-block;
            width: 20px;
            height: 20px;
        }
    }
}
