@model MockResponse.Web.Models.ListResponseViewModel;
@using MockResponse.Core.Models;
@using MockResponse.Web.Controllers;
@using MockResponse.Web.Infrastructure;

<nav>
    <ul>
        <li>@(Url.Action<AdminController>(c => c.Edit(null), "Add", new { responseId = "new"}))</li>
    </ul>
</nav>
<ul>
@foreach(var response in Model.Responses)
{
    <li>@response.Content - <a href="@($"/responses/{response.Id}")">edit</a></li>
}
</ul>