@model MockResponse.Site.Controllers.HomeIndexModel
@{
    Layout = "_Layout";
}

@if (Model.Authenticated)
{
    <span>Welcome</span> 
}
else
{
    <span>Login form</span>
    using (Html.BeginForm("LoginRequest", "Home", FormMethod.Post))
    {
        <fieldset>
            <input type="text" placeholder="Email or phone number" maxlength="100" id="authIdentity" name="authIdentity" />
            <button type="submit">Submit</button>
        </fieldset>
    }
}